@mixin pseudo-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@mixin inline-list {
  @include pseudo-list;
  li {
    display: inline-block;
  }
}
@mixin alternating-list {
  li {
    padding: .25rem .5rem;
    &:not(:last-of-type) {
      border-bottom: 1px solid rgba($black, .1);
    }
    &:nth-of-type(odd) {
      background: rgba($white, .05);
    }
    &:nth-of-type(even) {
      background: rgba($black, .05);
    }
  }
}
@mixin do-not-show {
  position: absolute;
  top: -1000vh;
  left: 0;
  width: 0;
  overflow: hidden;
  display: none;
  visibility: hidden;
  pointer-events: none;
}
@mixin breakpoint($width) {
   @media only screen and (min-width: $width) {
    @content;
  }
}
@mixin shifty {
  padding: 0 .5rem 0 0;
  transition: {
    property: padding;
    duration: .5s;
    timing-function: $cubic;
  }
  &:focus, &:hover {
    padding: 0 0 0 .5rem;
  }
}
@mixin selection {
  ::-moz-selection { @content; }
  ::selection { @content; }
}


@mixin shadow-fade {
  position: relative;
  overflow: hidden;
  transition: {
    property: max-height;
    duration: .5s;
    timing-function: $cubic;
  }
  .shade {
    position: absolute;
    height: 2rem;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    background: linear-gradient(
      transparent,
      rgba($white, .1)
    );
    transition: {
      property: opacity;
      duration: .5s;
      timing-function: $cubic;
    }
  }
  &.open .shade {
    opacity: 0;
  }
}
